@import "src/scss/variables";

.main {
  display: flex;
  background-color: $background-gray;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  width: 30%;

  &__header {
    font-size: 3rem;
    font-weight: bold;
    font-style: oblique;
    color: $dark-gray;
    text-shadow: 2px 2px 2px $dark-gray;
    letter-spacing: 0.1rem;
  }

  &__text {
    font-size: 1.4rem;
    color: $dark-gray;
    letter-spacing: 0.05rem;
  }
}

.image {
  width: 70%;
}
