
@import "src/scss/variables";

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__window {
  position: relative;
  max-width: 900px;
  max-height: 100vh;
  overflow-y: auto;
  margin: 1rem;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-modal);
  border-radius: 0.5rem;
  animation-name: modal-show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.modal__button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
  background: url(../../../public/svg/close.svg) no-repeat center;
  background-size: 80%;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__button:hover {
  background-color: #dddddd;
}

@keyframes modal-show {
  0%   {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}





