@import "src/scss/variables";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-pages);
  transition: background-color 300ms ease-in-out;
  z-index: 2;
}

.logo {
  width: 200px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__image {
    width: 150px;

    @media (max-width: $tablet) {
      width: 100px;
    }
  }

  &__description {
    padding: 0 1rem;
    margin: 0;
    font-family: 'Coolvetica';
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
  }
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.scroll {
  background-color: var(--header-background-color-scroll);
}
