@import "src/scss/variables";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background-color);
  transition: background-color 300ms ease-in-out;
  z-index: 2;
}

.logo {
  width: 200px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--grey-light-one);
  }

  &__image {
    width: 50px;
    height: 50px;
  }

  &__description {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 0;
  }
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.scroll {
  background-color: var(--header-background-color-scroll);
}
