@import "src/scss/variables";

.welcome {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  padding-bottom: 3rem;
    
  &__image {
    max-width: 50%;
    object-fit: contain;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--text);

  &__header {
    margin: 2rem 0;
    font-family: 'Coolvetica';
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
  }

  &__text {
    margin: 0 0 3rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
  }
}
