@import "src/scss/variables";

.welcome {
  display: flex;
  padding-bottom: 40px;
  background-color: var(--background-element-content);
  border-radius: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  width: 30%;

  &__header {
    font-family: 'Coolvetica';
    font-size: 4rem;
    font-weight: 400;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--text-color);
    letter-spacing: 0.2rem;
  }

  &__text {
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 0.05rem;
  }
}

.image {
  width: 70%;
  border-radius: 2rem;
}
