@import "src/scss/variables";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background-color);
}

.school__image {
  width: 100px;
  transition: all 0.3s;
  fill: var(--color-svg);

  &:hover {
    fill: var(--red);
  }
}

.github {
  display: flex;
  gap: 3rem;

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
  
    &:hover .github__text{
      color: var(--red);
    }
    &:hover .github__image{
      fill: var(--red);
    }
  }

  &__image {
    width: 30px;
    fill: var(--color-svg);
    transition: all 0.3s;
  }

  &__text {
    margin: 0;
    color: var(--text-custom-link);
  }
}

.copyright {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  &__image {
    width: 30px;
    fill: var(--color-svg);
  }

  &__text {
    margin: 0;
    color: var(--text-custom-link);
  }
}
