@import "src/scss/variables";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

* {
  box-sizing: inherit;
  font-family: 'Open Sans';
}

body {
  height: 100%;
}

#root {
  height: 100%;
}


header,
main,
footer {
  padding: 1rem 2rem;
}

main {
  height: 100%;
  flex-grow: 1;
}

.form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
              rgb(0 0 0 / 14%) 0px 3px 4px 0px,
              rgb(0 0 0 / 12%) 0px 1px 8px 0px;

  &.form--modal {
    padding: 0.5rem;
    box-shadow: none;
  }

  & .form__btns {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

