$tablet: 1024px;
$mobile: 767px;
$small-screen: 480px;

html {
  //colors
  --white: #f6f0ed;
  --white-dark: #d1ccca;
  --grey: #535461;
  --grey-light: #9d9d9d;
  --grey-dark: #444551;
  --black: #20101e;
  --red: #e84419;
  --pink: #ffc9c3;
  --pink-light: #f5ded4;

  //modal
  --background-color-modal: var(--white);
  //columns
  --grey-card-column: #f9f7fa;
  --box-shadow-card-colymn: #d2d7e0;
}

html[data-theme='dark'] {
  //text
  --text: var(--pink-light);
  //pages
  --background-pages: var(--grey);
  //header and footer
  --header-background-color-scroll: var(--grey-dark);
  //board
  --background-card-column: var(--grey-card-column);
  --background-board-shadow-column: var(--box-shadow-card-colymn);
  //svg
  --color-svg: var(--pink-light);
  //modal
  --background-color-modal: var(--white-dark);
}

html[data-theme='light'] {
  //text
  --text: var(--black);
  //pages
  --background-pages: var(--white);
  //header
  --header-background-color-scroll: var(--white-dark);
  //board
  --background-card-column: var(--grey-card-column);
  --background-board-shadow-column: var(--box-shadow-card-colymn);
  //svg
  --color-svg: var(--black);
  //modal
  --background-color-modal: var(--white);
}


