$tablet: 1024px;
$mobile: 767px;
$small-screen: 480px;

// todo пересмотреть названия
//если будут темы то переменные в js в var

$white: #ffffff;
$black: #000000;
$red: #e74c3c;
$green: #389d2f;
$yellow: #e3cc00;
$background-red: #ffc9c3;
$background-gray: #ececec;
$grey: #c4c4c4;
$dark-grey: #313131;
$marker: #e74c3c;
$background-element: #ffc9c3;
$background-element-content: #ececec;
$grey-text-color: #313131;

html[data-theme='dark'] {
  --grey-text-color: #313131;
  --grey: #5e5e5e;
  --header-background-color: var(--grey);
  --header-background-color-scroll: var(--grey-text-color);
  --black: #000000;
  --red: #e74c3c;
  --green: #389d2f;
  --yellow: #e3cc00;
  --background-red: #ffc9c3;
  --background-gray: #ececec;
  --dark-grey: #313131;
  --marker: #e74c3c;
  --background-element: #ffc9c3;
  --background-element-content: #ececec;
  --text-color: var($grey);
}

html[data-theme='light'] {
  --white: #ffffff;
  --pink: #ffc9c3;
  --header-background-color: var(--white);
  --header-background-color-scroll: var(--pink);
  --black: #000000;
  --red: #e74c3c;
  --green: #389d2f;
  --yellow: #e3cc00;
  --background-red: #ffc9c3;
  --background-gray: #ececec;
  --grey: #c4c4c4;
  --dark-grey: #313131;
  --marker: #e74c3c;
  --background-element: #ffc9c3;
  --background-element-content: #ececec;
  --text-color: var($grey-text-color);
}



