$tablet: 1024px;
$mobile: 767px;
$small-screen: 480px;

// todo пересмотреть названия
//если будут темы то переменные в js в var

$white: #ffffff;
$black: #000000;
$marker: #e74c3c;
$background-element: #ffc9c3;
$background-element-content: #ececec;
$text-color: #313131;
