@import "src/scss/variables";

.link {
  text-decoration: none;
  background-color: $white;
  border: 3px solid $marker;
  border-radius: 0.6em;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px $marker inset;
    color: $white;
  }
}

.active {
  color: #e3cc00;
}
